html{
font size: 80px;
text-align:center;
align-items: center;
align-content: center;
	}
	.menu{
		width: auto;
		height: 50px;
		font-size: 20px;
		text-decoration:none;
		background-color:black;
		color: blue;

	}
	.miclase{
		font-size: 40px;
		color: black;
		font-family: sans-serif; 

		}
		html.div
		{

			}
			#p{

			}